body {
	font-family: Arial, sans-serif;
	font-size: 14px;
    font-weight: 400;
    line-height: 24px;

	text-align: center;
  background-color: #ccc;
}

nav {
	height: 70px;
	background-color: #888;
}
 h2 {
	 margin-top: 110px;
	 margin-bottom: 40px;
 }
 h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
 }
 h4 {
 margin-top: 30px;
 margin-bottom: 30px; 
 }
